<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/tabIcon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/filePage.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="outerContainer">
        <h1 class="home"><a href="/"><i class="fa-solid fa-house houseBtni" style="color: #ffffff;"></i>Home</a></h1>
        <h1 class="heading">File: <span class="name"><%- fileName %></span></h1>
    <!-- <% head.forEach((row)=>{ %>
        <h1><%- row %></h1>
    <% }) %> -->
    <div class="container">
        <input type="text" placeholder="Search..." id="searchBar">
        <button id="searchButton" class="searchButton">Search</button>
    </div>
    </div>
    <div class="tableData">
        <table id="mainTable">
            <thead>
                <tr>
                    <% for(let h of head) { %>
                        <th>
                            <%= h %>
                        </th>
                        <% } %>
                </tr>
            </thead>
            <tbody id="tableBody">
                <% for(let row of data) { %>
                    <tr>
                        <% for(let key of Object.keys(row)) { %>
                            <td>
                                <%= row[key] %>
                            </td>
                            <% } %>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <input type="hidden" id="dataFromFilePage" value="<%= JSON.stringify(data)%>">
</body>
<script src="/js/filePage.js"></script>
</html>